<%- include('../partials/header') %>

<main class="vehicle-details">
  <h1><%= vehicle.inv_year %> <%= vehicle.inv_make %> <%= vehicle.inv_model %></h1>

  <div class="vehicle-container">
    <img src="<%= vehicle.inv_image %>" alt="Image of <%= vehicle.inv_make %> <%= vehicle.inv_model %>">

    <div class="vehicle-info">
      <p><strong>Price:</strong> $<%= vehicle.inv_price.toLocaleString() %></p>
      <p><strong>Description:</strong> <%= vehicle.inv_description %></p>
      <p><strong>Color:</strong> <%= vehicle.inv_color %></p>
      <p><strong>Miles:</strong> <%= vehicle.inv_miles.toLocaleString() %> miles</p>
    </div>
  </div>
</main>

<%- include('../partials/footer') %>

